black
flake8
isort
loguru
mkdocs
pip
python-dotenv
tqdm
typer
fastapi
streamlit==1.36.0
pandas==2.2.2
scikit-learn==1.5.1
uvicorn
prophet==1.1.1          # Specify a compatible version of Prophet
numpy==1.23.5          # Downgrade NumPy to a compatible version
